<div class="container">
    <div class="row">
        <div class="col-sm-6 mt-3">
            <img src="/images/chicago.jpg" alt="chi">
        </div>
        <div class="col-sm-6 mt-3">
        
        
        <h1> <b>The Lands of Chi-City Carnival</b></h1>

        <p> *Access to Chi-City El train at all Lands</p>

        <p> The World's Fair- World's Fair themed area adjacent to the Promenade. Maxwell Street Vendors and The Daley located here</p>

        <p> Illini Marshes- Area reminiscent of Chicago's natural climate. Pavillion dedicated to education of native values and presence in the state. Chipewa River ride and The Twister located here. </p>

        <p> Mod Streets- Food court area representing modern Chicago streeet life. Many notable art installations and walls dedicated to painting murals and designs. Chinatown Eats, Empanada Emporium, Back of the Yards Breakfast, and Luciano's located here</p>

        <p> Da Loop- Amusement center of the park in the style of the park in the style of a modern carnival. Games, prizes, challenegs, you name it. Chicago Skyway and Byrne Circle Racers located here.</p>

    
        </div>
    </div>
        

    
</div>