<div class="container">
    <div class="row">
        <div class="col-sm-6 mt-3">
            <img src="/images/shows.jpeg" alt="shows">
        </div>
        <div class="col-sm-6 mt-3">
            <h1> <b> Shows</b> </h1>

            <p> History of Chicago Parade- Parade documenting history of Chicago, takes place in Da Loop</p>

            <p> Voices of Chicago- Performers singing hit songs from Chicago-born artists, located in central amphitheatre in Da Loop</p>
            
            <p> On the Water!- Boat Parade on the Chicago river, located in the World's Fair Land</p>
        </div>        
    </div>
</div>