<div class="container">
    <div class="row">
        <div class="col-sm-6 mt-3">
            <img src="/images/itaLin.jpg" alt="Italian">
        </div>
        <div class="col-sm-6 mt-3">
            <h1><b>Restaraunts</b></h1>

            <h2> Quick Service </h2>

            <p> Maxwell Street Vendors- Polish sausage and traditional American cuisine. Located in the Promenade</p>

            <p> Chinatown Eats- Chinese Cuisine crafted by vendors from Chicago's Chinatown neighborhood</p>

            <p> Empanada Emporium- Empanadas, choice of pork, beef, or veggie</p>

            <h2> Sit-Down </h2>

            <p> Luciano's- Italian eatery with Chicago-mob theme</p>

            <p> Back of the Yards Breakfast- Breakfast/lunch spot, try our world famous Union skillet!</p>

            <p> The Daley- High-end steakhouse with wine tasting options</p>
        </div>        
    </div>
</div>