<div class="container">
    
    <div> 
        <h1><b>Chi-City Carnival</b> </h1>

        <h2><b>Est. 2022</b> </h2>

        <p> Experience a new Chicago theme park, located on the city's south side. Inspired by our hometown's rich history and the qualities that make Chicago such an amazing place to live.</p>

        <p> Experience <a href="/rides"> rides </a>, eat good <a href="/food"> food</a>, enjoy amazing <a href="/shops"> shops</a> and <a href="/acts"> shows</a>.</p>

    </div>

    <div class="col-sm-6 mt-3">
        <img src="/images/skyline.jpeg" alt="skyline">
    </div>
    
</div>