<div class="container">
    <div class="row">
        <div class="col-sm-6 mt-3">
            <img src="/images/carnie.jpeg" alt="rides">
        </div>
        <div class="col-sm-6 mt-3">
            <h1><b>Rides</b></h1>

            <p> The Twister- Guests spin the ride vehicle using the center-wheel as if their cars were stuck in a relentess Illinois tornado</p>

            <p> Chi-City El- This mock El train takes you around the park, stopping at all different attraction areas</p>

            <p> Chipawe River Ride- Log ride on the Chicago river long before it became a city </p>

            <p> Byrne Circle Racers- Go Karts on miniature Chicago streets</p>

            <p> The Chicago Skyway- Illinois' largest indoor rollercoaster featuring corksccrews, loops, sudden drops, and stops</p>
        </div>        
    </div>
</div>