<div class="container">
    <div class="row">
        <div class="col-sm-6 mt-3">
            <img src="/images/promenade.jpeg" alt="prom">
        </div>
        <div class="col-sm-6 mt-3">
            <h1><b>Shops at Chi-City Carnival</b> </h1>

            <h2> The Promenade </h2>

            <p> Designed in the theme of the 1899 Chicago World's Fair, the Promenade is a shopping experience that takes you back to the turn of the 20th century. Shops include Nike, H+M,Gucci, Burberry, Urban Outfitters, Brookstone, and much more. Enjoy mdoern brands in an old school aesthetic, along the boardwalk that hugs the shores of the southwest branch of the Chicago river. </p>

            <h2> Merchandise </h2>

            <p> Merchandise stands are located all around the park! Grab a keepsake before you head home. Fan-favorite items include the skyline snowglobe, Chi-City Carnival knit sweater, and the classic model El-train! </p>
        </div>        
    </div>
</div>