<div class="container">
    <div class="row">
        <div class="col-sm-6 mt-3">
            <img src="/images/chi-thanks.jpeg" alt="ChicagoTY">
        </div>
        <div class="col-sm-6 mt-3">
            <h1><b>Thank you! Hope to see you soon</b></h1>

            <p> Go to
                <a href="/"> home!</a>
            </p>
        </div>        
    </div>
</div>